<div class="jumbotron">
    <div class="card">
        <div class="card-body">
            <h4 id="titulo" class="card-title">About</h4>
            <div id="frase">
                <small class="text-muted">~Aquí había algo más bonito, pero se ha perdido~
                    —¯\_(ツ)_/¯</small>
            </div>
            <hr id="hrI">
            <input class="form-control" type="text" [(ngModel)]="nombre"><br>
            <input class="form-control" type="text" [(ngModel)]="apellido"><br>
            <button class="btn btn-primary" (click)="llevame()">Generar saludo</button>
        </div>
    </div>
</div>